.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.userInputs {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 270px;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 10px;
  color: black;

  /* background: url('~/src/assets/images/icons.png') no-repeat; */
  background-color: lightgray;
  border: 1px solid black;
}

.cellCover {
  width: 29px;
  height: 29px;

  /* background: url('~/src/assets/images/icons.png') no-repeat; */
  background-color: black;
}

.rightClick {
  width: 29px;
  height: 29px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: gray;
}
